<form id="login" style=" height: 400px;" method="post" action="/manage">
    <h1 style="font-size: 17px;">{{viewTitle}}</h1>
    <fieldset id="inputs">
        <input type="hidden" name="_id" value="{{product._id}}" />
        <input id="name" type="text" placeholder="Name of product" name="name" value="{{product.name}}" autofocus required>
        <input id="stock" type="number" placeholder="Stock" name="stock" value="{{product.stock}}" required>
        <input id="price" type="number" step="0.01" placeholder="Product price" name="price" value="{{product.price}}" required>
        <input id="fileImg" type="file" placeholder="Image for this product" name="file" accept="image/*" required/>
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" value="Add">
        <h4 style="color: red; display: contents">&nbsp;&nbsp;{{notification}}</h4>
    </fieldset>
</form>
