<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{bootstrap3}}">
    <link rel="stylesheet" href="{{awesome}}" />
    <link rel="stylesheet" type="text/css" href="{{bootstrapCSS}}">
    <link rel="stylesheet" type="text/css" href="{{mainCSS}}">
    <link rel="stylesheet" type="text/css" href="{{loginCSS}}" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
        {{{body}}}
</body>

</html>